{% extends 'base.html' %}
{% block title %}
Logowanie
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signing" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Zaloguj się
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Nazwa użytkownika") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Hasło") }}

            <br>

            <div class="checkbox mb-3">
               <h6>Nie masz konta?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Zarejestruj się</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}